/* DARK SKIN
================================*/
.navigation {
  background-color: #f2bac2;
}

.navigation-body {
  background-color: #f2bac2;
}

.navigation-body-header {
  border-bottom-color: #333333;
}

.navigation-body-close-button {
  color: #222222;
}

.navigation-brand-text a {
  color: #222222;
}

.navigation-button-toggler .hamburger-icon {
  color: #222222;
}

.navigation-link {
  color: #222222;
  border-bottom-color: #333333;
}

.navigation-link:visited {
  color: #222222;
}

.navigation-item:last-child .navigation-link {
  border-bottom-color: #333333;
}

@media (min-width: 768px) {
  .navigation-icon-item .navigation-link {
    border-left-color: #333333;
  }
}

.navigation-social-menu .navigation-item .navigation-link i {
  background-color: #222222;
}

.submenu-indicator:after {
  border-color: transparent #222222 #222222 transparent;
}

.navigation-text {
  color: #222222;
}

.navigation-input {
  background-color: #f2bac2;
  border-color: #333333;
  color: #222222;
}

.navigation-search-icon {
  color: #222222;
}

.navigation-dropdown {
  background-color: #222222;
}

.navigation-item > .navigation-dropdown {
  border-top-color: #333333;
}

.navigation-dropdown-link {
  color: #222222;
  border-bottom-color: #333333;
}

.navigation-dropdown-item:hover > .navigation-dropdown-link,
.navigation-dropdown-item:focus > .navigation-dropdown-link,
.navigation-dropdown-item.is-active > .navigation-dropdown-link {
  background-color: #f2bac2;
}

.navigation-dropdown-link > .submenu-indicator {
  border-color: transparent #222222 #222222 transparent;
}

.navigation-megamenu {
  background-color: #222222;
}

.navigation-megamenu.is-visible {
  border-bottom-color: #333333;
}

@media (min-width: 768px) {
  .navigation-megamenu.is-visible {
    border-top-color: #333333;
  }
}

.navigation-list > li > a {
  color: #222222;
  border-right-color: #333333;
}

.navigation-list > li > a:hover {
  color: #7367F0;
  background-color: #2f2f2f;
}

.navigation-list-heading > a:hover {
  color: #869099 !important;
}

.navigation-tabs {
  background-color: #222222;
}

@media (min-width: 768px) {
  .navigation-tabs:after {
    background-color: #2f2f2f;
  }
}

.navigation-tabs-nav > li a {
  color: #222222;
  background-color: #222222;
}

.navigation-tabs-nav > li.is-active a,
.navigation-tabs-nav > li:hover a,
.navigation-tabs-nav > li:active a {
  background-color: #2f2f2f;
}

.navigation-tabs-pane {
  color: #222222;
  background-color: #2f2f2f;
}