/* 勞動部勞工保險局 logo */
#Logo {
  /* background-color: skyblue; */
  display: flex;
}

#CompanyLogo {
  width: 40px;
  margin: 5px;
}

#CompanyName {
  display: block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

#CompanyNameEnglish {
  display: block;
  font-size: 9px;
  font-family: 'Arial Narrow', sans-serif;
  padding-left: 3px;
  color: black;
  text-decoration: none;
}

.table-hover > tbody > tr:hover {
  /* background-color: lightsteelblue; */
  background-color: lavender;
  /* color: white; */
}

.nav-pills .nav-link {
  /* border: 1px solid gray; */
  background-color: lightgray;
  color: dimgray;
  font-size: 18px;
  font-weight: bolder;
  /* transition: all 0.3s ease; */
}

.nav-pills .nav-link.active {
  text-shadow: 1px 1px 2px gray;
  box-shadow: 1px 1px 2px gray;
  transition: all 0.1s ease;
}

select {
  background-color: ghostwhite !important;
  /* background: linear-gradient(to right, ghostwhite, skyblue) !important; */
}

select:disabled {
  background-color: #e9ecef !important;
}

.notice {
  color: crimson;
  text-shadow: 1px 1px 1px gray;
}

.text-shadow {
  text-shadow: 1px 1px 1px silver;
}

.box-shadow {
  box-shadow: 1px 1px 3px gray;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}

.w-150 {
  width: 150px;
}

.step-title{
  /* p-2 bg-primary text-white font-weight-bold */
  padding: 8px;
  background: linear-gradient(to left, DodgerBlue, navy);
  color: white;
  font-weight: bolder;
}

.step-graph, .step-text {
  display: flex;
}

.step-phase {
  flex: 1 1 auto;
  display: flex
}

.step-phase-description {
  width: 25%;
  text-align: center;
  padding: 2px 5px;
}

.step-noline {
  border: 0;
}

.step-number {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 0px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 6px solid silver;
  border-radius: 50%;
  cursor: default;
  color: dimgray;
  text-shadow: 1px 1px 1px silver;
}

.step-line {
  position: relative;
  display: inline-bloc;
  height: 0;
  border: none;
  border-top: 6px solid silver;
  top: 24px;
  z-index: 1;
}

.step-active {
  border-color: navy;
  background: navy;
  color: white;
  box-shadow: 0px 1px 2px silver;
}

/*
.step-number:hover, .step-line:hover {
  border-color: navy;
  background: navy;
  color: white;
  box-shadow: 0px 1px 2px silver;
}
*/


html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

.header {
  position: fixed;
  /*top: 0;  left: 0;*/
  z-index: 999;
  width: 100%;
  height: 52px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -20px 20px 20px;
}

.header h1 {
  background-color: skyblue;
  width: 100%;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0 15px;
  height: 52px;
  /* line-height: 52px; */
  font-weight: 400;
  font-size: 20px;
}

.wrapper {
  /*margin-top: 50px;*/
  position: relative;
  top: 50px;
  padding: 10px 20px 10px 40px;
  transition: all 0.3s ease-out;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.card-header > span {
  /* font-weight-bold text-white */
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px gray;
}

.bg-orange {
  background-color: #f2bac2;
}

td::selection, td span::selection {
  background-color: crimson;
  color: white;
}


/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {

}


/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {

  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 200px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }

}
